@model List<POInvoice.Data.Domain.LineItem>

<script src="@Url.Content("../../Scripts/poFormShared.js")"></script>

<input type="hidden" id="numberOfRows" value="@Model.Count" />

@for(int i = 0; i < Model.Count; i++)
{
    @Html.HiddenFor(m => m[i].Id, new { @Value = Model[i].Id, data_hiddenid = Model[i].Id });
}
    
<div class="container">
    <div class="row clearfix">
        <div class="col-md-12 column">
            <table class="table table-bordered table-hover" id="tab_logic">
                <thead>
                    <tr>
                        <th class="text-center">#</th>
                        <th class="text-center">Account Number</th>
                        <th class="text-center">Item Description</th>
                        <th class="text-center">Quantity</th>
                        <th class="text-center">Cost/Unit</th>
                        <th class="text-center">Total Cost</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @for (int i = 0; i < Model.Count; i++)
                    {
                        <tr id="@("addr" + i)" data-lineid="@Model[i].Id">
                            <td class="text-center" data-row="true" id="@("row" + i)">
                                @(i + 1)
                            </td>
                            <td>
                                @Html.TextBoxFor(p => p[i].AccountNumber, new { @id = "AccountNumber" + i, @class = "form-control", data_info = "accountnumber", @placeholder = "123-456-789" })
                            </td>
                            <td>
                                @Html.TextBoxFor(p => p[i].Description, new { @id = "Description" + i, @class = "form-control", data_info = "description", @placeholder = "Description" })
                            </td>
                            <td>
                                @Html.TextBoxFor(p => p[i].Quantity, new { @id = "Quantity" + i, data_money = "quantity", @type = "number", @Value = (Model[i].Quantity == 0 ? "" : Model[i].Quantity.ToString()), @placeholder = "0", @class = "form-control", @onkeyup = "CalculateCosts(this)" })
                            </td>
                            <td>
                                <div class="input-group">
                                    <span class="input-group-addon">$</span>
                                    @Html.TextBoxFor(p => p[i].UnitCost, new { @id = "UnitCost" + i, data_money = "unitcost", @type = "number", @Value = (Model[i].UnitCost == 0 ? "" : Model[i].UnitCost.ToString()), @placeholder = "0.00", @class = "form-control", @onkeyup = "CalculateCosts(this)" })
                                </div>
                            </td>
                            <td>
                                <div class="input-group">
                                    <span class="input-group-addon">$</span>
                                    <input value="0.00" readonly="" class="form-control" data-money="total" />
                                </div>
                            </td>
                            <td>
                                <button class="btn" type="button" id="trash0" onclick="DeleteInnerRow(this)" style="background-color:white"><i class="fa fa-trash-o text-cps-red" aria-hidden="true"></i></button>
                            </td>
                        </tr>
                    }
                    <tr id="@("addr" + Model.Count)"></tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="5" style="border-left:hidden;border-bottom:hidden">
                            <p class="pull-right" style="font-weight:700">Grand Total:</p>
                        </td>
                        <td>
                            <div class="input-group">
                                <span class="input-group-addon">$</span>
                                <input readonly="readonly" id="grandTotal" name="GrandTotal" class="form-control pull-right" value="0.00" />
                            </div>
                        </td>
                        <td style="border-bottom:hidden;border-right:hidden;border-top:hidden">
                            <button class="btn btn-success" type="button" onclick="AddRow()"><i class="fa fa-plus" aria-hidden="true"></i></button>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>