@model POInvoice.Data.Domain.PoForm

@{
    ViewBag.Title = "Info";
    Layout = "~/Views/Shared/_Layout.cshtml";

    decimal grandTotal = POInvoice.Services.PoFormConversions.CalculateGrandTotal(Model);
}

<script src="@Url.Content("~/Scripts/UploadApprovedPo.js")"></script>
<script src="@Url.Content("~/Scripts/InfoTable.js")"></script>
<script src="@Url.Content("~/Scripts/SupportingDocuments.js")"></script>
<script src="@Url.Content("~/Scripts/toggleEdit.js")"></script>

@Html.HiddenFor(p => p.Id, new { @id = "id", @Value = Model.Id })

<input hidden id="writePath" value=@POInvoice.Services.FilePaths.WriteSupportingDoc />
<input hidden id="overview" value="@Model.Overview" />
<input hidden id="count" value="@Model.Documents.Count" />
<input hidden id="status" value="@Model.Status" />
<input hidden id="poFormWritePath" value="@POInvoice.Services.FilePaths.WritePoForm" />
<input hidden id="username" value="@System.Web.HttpContext.Current.User.Identity.Name" />

@Html.Partial("~/Views/Home/Partials/_InfoHeader.cshtml")

@Html.Partial("~/Views/Home/Partials/_InfoButtons.cshtml")

@Html.Partial("~/Views/Home/Partials/_InfoDocumentsTable.cshtml")

@Html.Partial("~/Views/Home/Partials/_ToggleEdit.cshtml")

<div id="js-exampleDiv" hidden>
    <form class="js-exampleForm">
        <label for='poNumber'>PO number:</label>
        <input id='poNumber' name='poNumber' type='text' class='form-control' placeholder='1234-5678-1234-5678' />
    </form>
</div>